doctype basic
html
    head
        title #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='/css/font-awesome.min-' + cacheBuster + '.css')
        link(rel='stylesheet', href='/css/bootstrap.min-' + cacheBuster + '.css')
        link(rel='stylesheet', href='/css/mdb-' + cacheBuster + '.css')
        link(rel='stylesheet', href='/css/style-'+cacheBuster+'.css')
    body
        #root
        script(src='/js/script-'+cacheBuster+'.js')
